<div class="global-container">
    <header id="header" class="main-header-container">
        <div class="main-header-avatar-container">
            <img id="header-avatar-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Аватар" title="Аватар"/>
        </div>
        <div class="main-header-user-container">
            <div class="main-header-username">
                <a id="header-username-text" href="#" class="text-black text-decoration-none">username</a>
            </div>
            <div class="main-header-rank">
                <span>Новичок</span>
            </div>
        </div>
        <a href="{{ telegram_header_link_value }}" title="{{ telegram_header_link_description }}" class="main-header-telegram-container index-telegram-open-special_tg">
            <div id="header-tg-button" class="">
                <img src="/static/img/icons/tgIcon.svg" alt="telegram" />
            </div>
            <div class="">
                <div class="main-header-telegram-block-text">{{ telegram_bot_username_value }}</div>
                <div class="main-header-telegram-block-text2">наш Telegram-канал</div>
            </div>
        </a>
    </header>
</div>


